{% extends "user.html" %}
{%block content%}
<div class="panel-heading">
 Update User
</div>
<div class="container">
  <h1 class="form-heading">Change Password</h1>
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <form method="POST" action="/changePassword">
        <div class="form-group">
          <input type="text" class="form-control" id="inputPassword" placeholder="Old password" name="passwordold" >
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="inputPassword" placeholder="New Password" name="password">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="inputPassword" placeholder="New Password confirm" name="passwordcf">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}