{% extends "admin.html" %}
{%block content%}
<div class="panel-heading">
 Add User
</div>
<div class="container">
  <h1 class="form-heading">Create new user</h1>
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
      </div>
      <form id="Login" method="POST" action="/addUser">
        <div class="form-group" >
          <input type="text" class="form-control" placeholder="Username" name="username"
          required
                data-bv-notempty-message="The username is required">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" name="password"
          required
                data-bv-notempty-message="The password is required">
        </div>
        <div class="form-group">
          <input type="email" class="form-control"  placeholder="Email" name="email"
          required
                data-bv-notempty-message="The email is required">
        </div>
         <div class="form-group">
          Gender:
          <input type="radio" name="gender" id="option1" value="male" checked="true"> male </input>
          <input type="radio" name="gender" id="option2" value="female"> female </input><br>
        </div>
       <div class="form-group">
        Birthday: 
          <input type="date" class="form-control" name="birthday" 
          required
                data-bv-notempty-message="The date is required">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Phone number" name="phone"
          required
                data-bv-notempty-message="The phone is required">
        </div>
        <div class="form-group">
          Role:
          <input type="radio" name="role" id="option1" value="admin"> admin </input>
          <input type="radio" name="role" id="option2" value="user" checked> user </input><br>
        </div>
        <div class="forgot">
          <button type="submit" class="btn btn-primary">Create user</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
    $('#Login').bootstrapValidator();
});
</script>
{% endblock %}
