{% extends "admin.html" %}
{%block content%}
<div class="panel-heading">
        Update User
</div>
<div class="container">
<h1 class="form-heading">Register Form</h1>
<div class="login-form">
<div class="main-div">
    <div class="panel">
   </div>
    <form id="Login" method="POST" action="/checkadduser">


        <div class="form-group">
          {{ form.username(class="form-control",value=id) }}
          
        </div>

        <div class="form-group">
      {{ form.password(class="form-control",placeholder="Password") }}

        </div>
         <div class="form-group">
      {{ form.confilmpass(class="form-control",placeholder="confilm password") }}

        </div>
        <div class="forgot">
    
    {{ form.submit(type="submit",class="btn btn-primary") }}
       

    </form>
    </div>
</div></div></div>

{% endblock %}